.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

header {
  font-size: x-large;
}

.container {
  max-width: 640px;
  width: 90%;
}

.App-link {
  color: #61dafb;
}

textarea {
  max-width: 100%;
}
