.title {
  font-size: 1.2rem;
}

.forms > *:nth-child(n + 2) {
  margin-top: 10px;
}

.container {
  max-width: 640px;
  display: flex;
  flex-direction: column;
}

canvas {
  width: 100%;
}

.canvas-img {
  width: 100%;
}

input {
  max-width: 100%;
}

textarea {
  max-width: 100%;
}
